* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#title {
	border-bottom: 1px solid black;
	background: #AAA;
	padding: 9px;
	text-align: center;
}

body {
	font: 100% Helvetica, Arial;
}

#room_list {
	background: #DDD;
	float: left;
	width: 100px;
	border-right: 1px solid black;
	height: 100%;
	padding: 10px;
	overflow: scroll-y;
	position: fixed;
}

form {
	display: inline-block;
	background: #888;
	padding: 5px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

form input {
	border: 0;
	padding: 10px;
	width: calc(100% - 60px);
	margin-right: .5%;
}

form button {
	width: 50px;
	background: rgb(130, 224, 255);
	border: none;
	padding: 10px;
}

#message_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 100px;
}

#messages p {
	padding: 5px 10px;
}

#messages p:nth-child(odd) {
	background: #eee;
}

#messages {
	margin-bottom: 40px;
}
